# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

!/images/mkosi.skeleton/**
/images/mkosi.skeleton/usr/bin/delegatio-agent


/images/*qcow2*
/images/*.cmdline
/images/.cache/**
/build
