# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

*.tfstate

!/images/mkosi.skeleton/**
/images/mkosi.skeleton/usr/bin/delegatio-agent
!/container/sshd_config

/images/*qcow2*
/images/*.cmdline
/images/mkosi.cache/**
/images/.cache/**
/build
/3rdParty
/cli/infrastructure/terraform/gcp/delegatio.json

# Terraform
*.tfstate
*.tfstate.backup
.terraform
.terraform.tfstate.lock.info
*.tfvars
terraform.log
delegatio.json